<div class="card d-flex flex-row align-items-center gap-3 px-3" style="width: 25rem; heigth: 7rem; overflow-x:scroll; padding-top:1rem;">
  <% (0..2).each do %>
  <%= render "story/story"%>
  <% end %>
</div>
